
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Ver usuarios sitio", "ObtenerUsuarios", "AccionesSitio") <br />
@Html.ActionLink("Ver sitios", "ObtenerSitios", "AccionesSitio")